<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" href="css/bootstrap.min.css">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
<!-- 	        		<li><a href="/blog">Blog</a></li> -->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				<ul>
					<li><a href="mailto:michaela.j.kane@gmail.com">michaela.j.kane@gmail.com</a></li>
					<li><a href="https://github.com/mkane12">github.com/mkane12</a></li>
				</ul>
			</footer>
			
			<script src="js/bootstrap.min.js"></script>
		</body>
	</html>
